BasedOnStyle: LLVM
IndentWidth: 6
UseTab: Never
TabWidth: 6
ContinuationIndentWidth: 6
BreakBeforeBraces: Allman
ColumnLimit: 100
PointerAlignment: Right
ReferenceAlignment: Right
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
SpaceBeforeParens: ControlStatements
SpaceAfterCStyleCast: false
SpaceBeforeAssignmentOperators: true
SpaceInEmptyBlock: false
BreakConstructorInitializers: BeforeColon
ConstructorInitializerIndentWidth: 6
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
BinPackArguments: false
BinPackParameters: false
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
AllowShortBlocksOnASingleLine: Empty
Cpp11BracedListStyle: true
SpacesInAngles: Never
