__pycache__/
*.pyc
*.pyo
*.pt
*.bin
*.exe
.git/
.github/
.npm-cache/
.venv/
.vscode/
build/
frontend/node_modules/
frontend/src/
frontend/public/
frontend/package-lock.json
frontend/package.json
frontend/postcss.config.js
frontend/tailwind.config.ts
frontend/tsconfig.json
frontend/vite.config.ts
engine/logs/
engine/fine-tune/
engine/fineweb_30mb.txt
engine/data/input.txt
